body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #fff;
}

.container {
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
  background: #465bd1;
  margin: 10px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 30px;
  background: #324ad4;
}

.container div {
  display: flex;
  gap: 20px;
}

.disney {
  background-image: url(../assets/walt-disney-logo.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;
}

.container h3 {
  font-size: 30px;
  text-align: center;
}

.card {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
  gap: 45px;
  padding: 50px 7px;
}

.badge {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform ease-out 0.3s;
  color: #fff;
}

.badge:hover {
  transform: scale(1.1);
}

.badge img {
  height: 200px;
  width: 200px;
}

@media screen and (max-width: 512px) {
  .card {
    grid-template-columns: auto auto;
    justify-content: center;
  }
}
